<div class="box wide">
  <div class="legend" style="float: right;">
    <% if @message.author_user_id == @user.id %>
      <a href="/messages/sent"><%= t('.backtosentmessages') %></a>
    <% else %>
      <a href="/messages"><%= t('.backtomessages') %></a>
    <% end %>
  </div>

  <div class="legend">
    <%= @message.subject %>

    <div class="sublegend">
      <%= t('.sentfrom') %>
      <% if @message.author %>
        <a href="/u/<%= @message.author.username %>"><%=
          @message.author.username %></a>
        <% if @message.author.is_admin? %>
          <%= t('.administrator') %>
        <% elsif @message.author.is_moderator? %>
          <%= t('.moderator') %>
        <% end %>
      <% else %>
        <%= @message.author_username %>
      <% end %>
      <%= t('.tomsg') %>
      <a href="/u/<%= @message.recipient.username %>"><%=
        @message.recipient.username %></a>
      <%= distance_of_time_in_words(@message.created_at, Time.now) %>
    </div>
  </div>

  <div class="boxline comment_text">
    <%= raw @message.linkified_body %>
  </div>

  <br>

  <div class="boxline">
    <div style="float: left;">
      <%= form_tag message_path(@message.short_id), :method => :delete do %>
        <%= submit_tag t('.deletemessage') %>
      <% end %>
    </div>

    <div style="float: left; padding-left: 1em;">
      <%= form_tag message_path(@message.short_id) + "/keep_as_new",
      :method => :post do %>
        <%= submit_tag t('.keepasnew') %>
      <% end %>
    </div>
  </div>

  <div style="clear: both;"></div>

  <br>

  <div class="legend">
    <%= t('.composereply') %>
    <% if @new_message %>
      <%= t('.toupper') %> <%= @new_message.recipient_username %>
    <% end %>
  </div>

  <% if @new_message %>
    <%= form_for @new_message, :method => :post do |f| %>
      <%= f.hidden_field :recipient_username %>

      <%= error_messages_for @new_message %>

      <div class="boxline">
        <%= f.text_field :subject, :style => "width: 500px;",
          :autocomplete => "off" %>
      </div>

      <div class="boxline">
        <%= f.text_area :body, :style => "width: 500px;", :rows => 5,
          :autocomplete => "off" %>
      </div>

      <div class="boxline">
        <p></p>
        <%= submit_tag t('.sendmessage') %>
      </div>
    <% end %>
  <% else %>
    <%= t('.cantreply') %>
  <% end %>
</div>
