<div class="comment comment_form_container"
data-shortid="<%= comment.short_id if comment.persisted? %>">
<%= form_for comment,
:html => { :id => "edit_comment_#{comment.short_id}" } do |f| %>
  <% if comment.errors.any? %>
    <%= errors_for comment %>
  <% end %>

  <%= hidden_field_tag "story_id", comment.story.short_id %>

  <% if comment.parent_comment %>
    <%= hidden_field_tag "parent_comment_short_id",
      comment.parent_comment.short_id %>
  <% end %>

  <div style="width: 100%;">
    <%= text_area_tag "comment", comment.comment, :rows => 5,
      :style => "width: 100%;", :autocomplete => "off", :disabled => !@user,
      :placeholder => (@user ? "" : t('.mustbelogged'))
      %>

    <p></p>

    <div class="markdown_help_toggler">
      <% if @user %>
        <div class="markdown_help_label">
          <%= t('.markdown') %>
        </div>
        <div class="markdown_help_label markdown_help_label_mobile"
        style="display: none;">
          [M&darr;]
        </div>
      <% end %>

      <%= button_tag "#{comment.new_record?? t('.post') : t('.update')}",
        :class => "comment-post", :type => "button",
        :disabled => !@user %>
      &nbsp;
      <%= button_tag t('.preview'), :class => "comment-preview",
        :type => "button", :disabled => !@user %>
      <% if comment.persisted? || comment.parent_comment_id %>
        &nbsp;
        <%= button_tag t('.cancel'), :class => "comment-cancel",
          :type => "button" %>
      <% end %>

      <% if @user && @user.hats.any? %>
        <div style="display: inline-block; margin-left: 1em;">
        <%= t('.putonhat') %>
        <%= select_tag "hat_id",
          options_from_collection_for_select(@user.hats, "id", "hat",
          comment.hat_id), :include_blank => true %>
        </div>
      <% end %>

      <div style="clear: both;"></div>

      <% if @user %>
        <%= render :partial => "global/markdownhelp" %>
      <% end %>
    </div>
  </div>

  <p></p>
<% end %>
<% if defined?(show_comment) && show_comment.valid? %>
  <div class="preview">
    <%= render "comments/comment", :comment => show_comment %>
  </div>
<% end %>
</div>
