<p>
<%=raw(t(:invitationtext)) %>
</p>

<%= form_tag "/invitations", :method => :post do |f| %>
  <% if defined?(return_home) && return_home %>
    <%= hidden_field_tag :return_home, 1 %>
  <% end %>

  <div class="boxline">
    <%= label_tag :email, t(:emailaddress), :class => "required" %>
    <%= text_field_tag :email, "", :size => 30, :autocomplete => "off" %>
  </div>

  <div class="boxline">
    <%= label_tag :memo, t(:memouser), :class => "required" %>
    <%= text_field_tag :memo, "", :size => 60 %>
  </div>

  <div class="boxline">
    <p></p>
    <%= submit_tag t(:sendinvitation) %>
  </div>
<% end %>

