<div class="box wide">
  <p>
  <strong><%= @title %> (<%= @user_count %>)</strong>
  </p>

  <ul class="user_tree">
  <% @users.each do |user| %>
    <li>
      <a href="/u/<%= user.username %>"
        <% if !user.is_active? %>
          class="inactive_user"
        <% elsif user.is_new? %>
          class="new_user"
        <% end %>
        ><%= user.username %></a>
      <% if user.is_admin? %>
        <%= t('.moderator') %>
      <% else %>
        (<%= user.karma %>)
        <% if user.is_moderator? %>
          <%= t('.administrator') %>
        <% end %>
      <% end %>
    </li>
  <% end %>
  </ul>
</div>
