<div class="box wide">
  <p>
  <strong><%= @title %> (<%= @user_count %>)</strong>
  </p>

  <p>
  <%= t('.newestusers') %>
  <%= raw @newest.map{|u| "<a href=\"/u/#{u.username}\" class=\"" <<
    (u.is_new?? "new_user" : "") << "\">#{u.username}</a> " <<
    "(#{u.karma})" }.join(", ") %>
  </p>

  <ul class="tree user_tree">

    <% subtree = @users_by_parent[nil] %>
    <% ancestors = [] %>

    <% while subtree %>
      <% if (user = subtree.pop) %>
        <li>
          <a href="/u/<%= user.username %>"
            <% if !user.is_active? %>
              class="inactive_user"
            <% elsif user.is_new? %>
              class="new_user"
            <% end %>
            ><%= user.username %></a>
          <% if user.is_admin? %>
            <%= t('.administrator') %>
          <% else %>
            (<%= user.karma %>)
            <% if user.is_moderator? %>
              <%= t('.moderator') %>(moderator)
            <% end %>
          <% end %>
          <% if (children = @users_by_parent[user.id]) %>
            <% # drill down deeper in the tree %>
            <% ancestors << subtree %>
            <% subtree = children %>
            <ul class="user_tree">
          <% else %>
            </li>
          <% end %>
      <% else %>
        <% # climb back out %>
        <% subtree = ancestors.pop %>
        <% if subtree %>
          </ul></li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>
