<div class="box wide">
  <div class="legend">
  <%= t('.buildinvtitle') %>
  </div>

  <%= raw t('.buildinvtext') %>

  <%= form_for @invitation_request,
  :url => create_invitation_by_request_path do |f| %>
    <p>
    <%= f.label :name, t('.buildinvname') %>
    <%= f.text_field :name, :size => 30 %>
    <br />

    <%= f.label :email, t('.buildinvemail') %>
    <%= f.text_field :email, :size => 30 %>
    <br />

    <%= f.label :memo, t('.buildinvurl') %>
    <%= f.text_field :memo, :size => 30 %>
    <br />
    <label></label>
    <span class="na"><%= t('.buildinvverificationurl') %></span>
    </p>

    <p>
    <%= submit_tag t('.buildinvrequest') %>
    </p>
  <% end %>
</div>
