<div class="box" id="story_box">
  <div class="legend">
    <%= t('.edit') %>
  </div>

  <%= form_for @story, :url => story_path(@story.short_id),
  :method => :put, :html => { :id => "edit_story" } do |f| %>
    <%= render :partial => "stories/form", :locals => { :story => @story,
      :f => f } %>

    <% if @user.is_moderator? %>
      <br />
      <div class="box">
        <div class="boxline">
          <%= f.label :merge_story_short_id, t('.merge'),
            :class => "required" %>
          <%= f.text_field :merge_story_short_id, :autocomplete => "off",
            :placeholder => t('.shortid') %>
        </div>
        <div class="boxline">
          <%= f.label :unavailable_at, t('.unavailable'),
            :class => "required" %>
          <%= f.check_box :is_unavailable %>
          <%= f.label :unavailable_at, t('.unavailableat'), :class => "normal" %>
        </div>
        <% if @story.user_id != @user.id %>
          <div class="boxline">
            <%= f.label :moderation_reason, t('.modreason'),
              :class => "required" %>
            <%= f.text_field :moderation_reason, :autocomplete => "off" %>
          </div>
        <% end %>
      </div>
    <% end %>

    <p></p>

    <div class="box">
      <div class="boxline actions markdown_help_toggler">
        <div class="markdown_help_label">
          <%= t '.markdown' %>
        </div>

        <%= submit_tag t('.save') %>
        &nbsp;or <a href="<%= story_path(@story.short_id) %>"><%= t('.cancel') %></a>

        <div style="clear: both;"></div>

        <%= render :partial => "global/markdownhelp",
          :locals => { :allow_images => true } %>
      </div>
    </div>
  <% end %>
</div>
